@charset "UTF-8";
/* CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* 改變整個網頁的盒模型計算方式，避免 header 加上 padding 後超出頁面形成捲軸 */
  box-sizing: border-box;
  font-family: "Noto Sans TC", "華康黑體", "微軟正黑體", arial, sans-serif;
  position: relative;
}

a {
  /* 清除所有超連結的下底線 */
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  opacity: 0.8;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  animation: headerLoad 1s ease 2s 1 alternate forwards;
}
@keyframes headerLoad {
  0% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}
@media screen and (max-width: 480px) {
  header {
    justify-content: unset;
  }
}

.logo {
  /* 讓圖片接近參考網頁大小 */
  width: 133px;
  transition: all 0.5s ease-out;
  padding-left: 30px;
}
.logo:hover {
  opacity: 0.6;
  transform: scale(1.3, 1.3);
}

nav {
  width: 40%;
  padding-right: 30px;
}
@media screen and (max-width: 480px) {
  nav {
    flex-grow: 1;
  }
}

.list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list a {
  color: rgba(112, 111, 111, 0.904);
  font-size: 16px;
  letter-spacing: 2px;
}
.list a:hover {
  color: rgb(26, 216, 211);
}

.nav-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-label {
  cursor: pointer;
  background-image: url(../images/FE_search_green.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  transition: all 0.5s ease;
}
.search-label:hover {
  transform: scale(1.3);
}

.search-checkbox {
  visibility: hidden;
  position: absolute;
  right: 10%;
}
.search-checkbox:checked + .search-panel {
  display: block;
}

.search-panel {
  width: 100vw;
  height: 50vh;
  background-color: rgb(243, 243, 243);
  position: fixed;
  z-index: 10;
  top: 100px;
  left: 0px;
  text-align: center;
  padding-top: 50px;
  display: none;
}
.search-panel::after {
  content: "";
  position: fixed;
  display: block;
  width: 100vw;
  height: calc(50vh - 100px);
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.search-panel p {
  font-size: 20px;
  color: rgb(26, 216, 210);
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.search-content {
  background-color: white;
  width: 60%;
  height: 60px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-content button {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border: none;
}
.search-content input {
  font-size: 18px;
  width: 85%;
  height: 30px;
  margin: 0px 5px 0px 10px;
  padding-left: 5px;
  border: none;
  outline: none;
  letter-spacing: 2px;
  flex-grow: 1;
}
.search-content .voice-btn {
  background-image: url(../images/microphone.svg);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.search-content .search-btn {
  background-image: url(../images/FE_search_green.png);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.test-img {
  width: 80px;
  position: fixed;
  top: 74%;
  right: 0px;
  z-index: 1;
  opacity: 0.8;
  cursor: pointer;
  transition: top 3s ease;
}
.test-img:hover {
  opacity: 0.6;
  top: 68%;
}
.test-img.loaded {
  animation: testLoad 2s ease 1s 1 alternate;
}
@keyframes testLoad {
  0% {
    top: 20%;
  }
  100% {
    top: 74%;
  }
}

.go-top {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.go-top img {
  width: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.go-top img:hover {
  transform: scale(1.3);
}

main {
  /* 因應 header 的 position 而調整 */
  position: relative;
  top: 105px;
}

footer {
  position: relative;
  top: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: rgba(236, 236, 236, 0.811);
}
footer a {
  color: rgba(63, 58, 58, 0.812);
  font-size: 13px;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  footer {
    height: 140px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  footer div {
    padding-left: 20px;
  }
  footer .social-link {
    position: absolute;
    right: 20px;
    bottom: 40px;
  }
}

.contact {
  display: flex;
  align-items: baseline;
}
.contact a:hover {
  opacity: 0.6;
}
.contact span {
  font-size: 13px;
  color: rgba(26, 216, 210, 0.703);
  font-weight: bold;
}
.contact p {
  font-size: 13px;
  letter-spacing: 3px;
  padding-left: 20px;
  color: rgba(63, 58, 58, 0.701);
}

.social-link img {
  width: 30px;
}
.social-link img:hover {
  opacity: 0.6;
}

.loading {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 20;
  top: 0;
  transition: all 1.5s 1s linear;
  border-bottom: 125px;
  border-bottom-color: rgb(26, 216, 211);
  border-bottom-style: solid;
}
.loading::before {
  content: "";
  background-image: url(../images/FE_logo-4.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 200px;
  position: fixed;
  z-index: 25;
  top: calc(50vh - 100px);
  left: calc(50vw - 200px);
  animation-name: loadingLogo;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes loadingLogo {
  0% {
    top: calc(35% - 100px);
  }
  50% {
    top: 35%;
  }
  100% {
    top: 65%;
  }
}
.loading.loaded {
  transform: translateY(-100%);
  border-bottom-color: rgb(26, 216, 211);
  border-bottom-style: solid;
}

.test-modal {
  display: none;
  width: 350px;
  height: 450px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  background-color: rgb(26, 216, 211);
  border-radius: 5px;
}

.test-box {
  height: 100%;
}
.test-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  opacity: 0.1;
}

.test {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.test .question-number {
  margin: 10px 0px;
}

.test-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}

.test-description {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.5;
}

.test-btn {
  cursor: pointer;
  width: 145px;
  height: 40px;
  border: 0px;
  color: rgb(26, 216, 211);
  background-color: white;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.test-btn:hover {
  color: white;
  font-weight: 600;
  background-color: rgba(172, 255, 252, 0.8);
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 13;
}

.chart-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.chart-circle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  background: conic-gradient(#00bcd4 0% 80%, #e0f7fa 80% 100%);
}
.chart-circle::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 50%;
}

.chart-number {
  position: absolute;
  font-size: 24px;
  color: rgb(26, 216, 211);
}

.chart-btn {
  cursor: pointer;
  height: 40px;
  padding: 0px 15px;
  border: 0px;
  color: rgb(26, 216, 211);
  background-color: white;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-btn:hover {
  color: white;
  font-weight: 600;
  background-color: rgba(172, 255, 252, 0.8);
}

.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  display: none;
}

.log-in {
  width: 350px;
  height: 430px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  background-color: #fff;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 3px;
  font-size: 16px;
  display: none;
}

.log-container {
  width: 256px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-logo {
  width: 225px;
  height: 105px;
  margin-top: 20px;
}
.log-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0) saturate(100%) invert(64%) sepia(71%) saturate(525%) hue-rotate(126deg) brightness(99%) contrast(86%);
  opacity: 0.8;
}

.account-div {
  width: 100%;
  height: 70px;
}
.account-div input {
  width: 100%;
  height: 50%;
  border: rgb(128, 128, 128) solid 0.5px;
  line-height: 1.5;
  letter-spacing: 3px;
  padding-left: 6px;
}

.forget-pw {
  margin: 20px 0px;
  align-self: flex-end;
  color: rgb(128, 128, 128);
  cursor: pointer;
}

.btn-group {
  width: 256px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.btn-group .btn-modal {
  width: 100px;
  height: 38px;
  color: #fff;
  background-color: rgb(26, 216, 211);
  border: #fff;
  border-radius: 8px;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 38px;
}
.btn-group .btn-gmail {
  width: 100%;
  background-color: red;
}
.btn-group a {
  color: white;
}

/* 背景圖片共同設定 */
.container,
.container::before {
  width: 100%;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

/* 背景圖片 */
.first-background {
  background-image: url(../images/key-visual.jpg);
}

/* 將降低亮度的濾鏡函式設在偽元素，顯示在背景圖片之前，避免影響其他文字內容 */
/* 加上 z-index，確保其他文字內容不會被擋住  */
.second-background::before {
  position: absolute;
  z-index: -1;
  display: block;
  height: 100%;
  content: "";
  filter: brightness(50%);
  background-attachment: fixed;
  background-image: url(../images/second-img.jpg);
}

.third-background::before {
  position: absolute;
  z-index: -1;
  display: block;
  height: 100%;
  content: "";
  filter: brightness(50%);
  background-image: url(../images/third-img.jpg);
  /* 製造滾動視差 */
  background-attachment: fixed;
}

.fourth-background {
  background-image: url(../images/15.jpg);
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .fourth-background {
    flex-direction: column;
    gap: 15px;
  }
}

.fifth-background {
  background-image: url(../images/five-img.jpg);
  background-position-y: bottom;
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
@media screen and (max-width: 768px) {
  .fifth-background {
    background-image: none;
  }
  .fifth-background::before {
    position: absolute;
    z-index: -1;
    display: block;
    height: 100%;
    content: "";
    filter: brightness(50%);
    background-image: url(../images/five-img.jpg);
    top: 0;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.content h2 {
  color: white;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 3px;
}
.content h2:hover {
  transform: rotate(-5deg);
}
.content h3 {
  color: white;
  font-size: 24px;
  letter-spacing: 10px;
}
.content h4 {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.content p {
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 9px;
}
@media screen and (max-width: 480px) {
  .content h2 {
    font-size: 32px;
  }
  .content h3 {
    font-size: 20px;
  }
  .content p {
    font-size: 16px;
  }
}

.arrow {
  transform: rotate(90deg);
  width: 20px;
  position: absolute;
  left: 50%;
  top: 85%;
  animation: arrowMoving 0.3s infinite alternate;
}
@keyframes arrowMoving {
  /*動畫名稱arrowMoving*/
  0% {
    top: 84%;
  }
  100% {
    top: 86%;
  }
}

.btn {
  /* 使按鈕背景透明 */
  background-color: transparent;
  color: rgb(26, 216, 211);
  border: 1px solid rgb(26, 216, 211);
  border-radius: 5px;
  font-size: 18px;
  width: 126px;
  padding: 3px 10px;
  margin-top: 36px;
  transition: all 1.2s ease-out;
}
.btn:hover {
  transform: scale(1.2);
  padding: 6px 10px;
}

.btn-class {
  width: 227px;
  margin: 18px;
  padding: 4px 10px;
}

.service {
  background-color: white;
  width: 280px;
  height: 400px;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  position: relative;
}
.service::after {
  content: "";
  border: 15px solid transparent;
  border-left-color: rgb(26, 216, 211);
  border-bottom-color: rgb(26, 216, 211);
  position: absolute;
  right: 0%;
}
.service img {
  width: 40px;
  margin-top: 30px;
}
.service h3 {
  color: rgb(26, 216, 211);
  font-size: 24px;
  margin-top: 25px;
}
.service p {
  line-height: 2;
}
.service .btn {
  background-color: rgb(26, 216, 211);
  color: white;
  padding: 6px 10px;
  transition: none;
}
.service .btn:hover {
  transform: none;
  color: rgb(212, 246, 245);
}
@media screen and (max-width: 768px) {
  .service {
    width: 204px;
    height: 270px;
  }
  .service img {
    width: 27px;
    margin-top: 30px;
  }
  .service h3 {
    color: rgb(26, 216, 211);
    font-size: 14px;
    margin-top: 15px;
  }
  .service p {
    line-height: 1.5;
    font-size: 12px;
  }
  .service .btn {
    font-size: 12px;
    margin-top: 20px;
  }
}

.line {
  border: 1px solid rgb(26, 216, 211);
  width: 50px;
  margin: 20px auto 16px auto;
}
@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    margin: 12px auto 9px auto;
  }
}

.about {
  max-width: 620px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  margin-bottom: 4%;
  padding: 0 20px;
}
.about h3 {
  font-size: 24px;
}
.about p {
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
}

.about-line {
  border: 1px solid;
  width: 20px;
  margin: 20px auto 16px auto;
}

.slider {
  height: 400px;
  position: relative;
}
.slider:hover h3 {
  opacity: 0.8;
}
.slider h3 {
  width: 250px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(112, 111, 111, 0.609);
  color: white;
  letter-spacing: 10px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: calc(50vw - 100px);
  border-radius: 5px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}
.slide.active {
  opacity: 1;
}

.class-type {
  height: 75px;
  box-shadow: 0px 5px 5px 0px rgb(230, 227, 230);
}

.class-list {
  max-width: 50%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(112, 111, 111, 0.904);
  font-size: 16px;
}
.class-list li {
  cursor: pointer;
}
.class-list li:hover {
  opacity: 0.6;
}
.class-list li.active {
  color: rgb(26, 216, 211);
}

.card-panel {
  max-width: 90%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card-panel .wrong-msg {
  font-size: 24px;
}

.card {
  border: 1px solid rgb(26, 216, 211);
  width: 320px;
  height: 520px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card .location-icon {
  width: 20px;
}
.card .location {
  cursor: pointer;
}
.card .location:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .card {
    border: none;
  }
}

.favorite {
  align-self: flex-end;
  height: 50px;
  margin-right: 25px;
  margin-top: 25px;
}

.fa-heart {
  cursor: pointer;
  color: rgb(26, 216, 211);
  font-size: 20px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 5px;
}

.card-content {
  width: 250px;
  margin: 0 auto;
}
.card-content h4 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(26, 216, 211);
}
.card-content p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: black;
}
.card-content span {
  color: rgb(26, 216, 211);
  padding-right: 10px;
  vertical-align: baseline;
}
@media screen and (max-width: 768px) {
  .card-content {
    border-bottom: 1px solid rgb(26, 216, 211);
    padding-bottom: 75px;
  }
}

.card-content h4:hover,
.card-content p:hover,
.card-content div:hover {
  opacity: 0.5;
}

.img-container {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
}
.img-container .card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  transition: all 0.6s ease;
}
.img-container .card-img:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

.card-text {
  width: 175px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.card-text .read-more:hover {
  transition: margin-right 1s ease;
  opacity: 0.5;
  margin-right: 25px;
}
.card-text .card-arrow {
  width: 12px;
  height: 12px;
  background-image: url(../images/arrow-right-one.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  height: 400px;
  position: relative;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-text {
  width: 250px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(112, 111, 111, 0.6);
  color: white;
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: calc(50vw - 100px);
  border-radius: 5px;
}

.content-box {
  display: flex;
  width: 95%;
  margin: 100px auto 0px auto;
}
@media screen and (max-width: 1200px) {
  .content-box {
    flex-direction: column;
    align-items: center;
  }
  .content-box .hide-img {
    display: none;
  }
}

.content-img {
  width: 40%;
  text-align: center;
  margin: 0px 10px;
}
.content-img img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 35px;
  border-radius: 5px;
}
.content-img img:hover {
  transition: all 1s ease-out;
  width: 440px;
  height: 330px;
}
@media screen and (max-width: 480px) {
  .content-img img {
    width: 264px;
    height: auto;
  }
  .content-img img:hover {
    transition: all 1s ease-out;
    width: 250px;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .content-img {
    width: 100%;
  }
}

.content-intro {
  width: 50%;
  margin: 0px 10px;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 28px;
  color: rgb(112, 111, 111);
}
@media screen and (max-width: 1200px) {
  .content-intro {
    width: 90%;
  }
}
.content-intro .intro-title {
  font-size: 20px;
  color: rgb(26, 216, 211);
  font-weight: 700;
}

.table {
  margin: 100px 0px;
}
.table .table-title {
  text-align: center;
  color: rgb(26, 216, 211);
  font-size: 18px;
}
.table .table-content {
  margin: 0 auto;
  max-width: 400px;
}
.table .table-content tr {
  border-bottom: 1px solid rgba(112, 111, 111, 0.3);
  font-size: 16px;
  line-height: 70px;
}
.table .table-content th {
  color: rgb(26, 216, 211);
  font-weight: 700;
  padding-right: 50px;
}
@media screen and (max-width: 480px) {
  .table .table-content th {
    padding-right: 20px;
  }
  .table .table-content td {
    text-align: center;
  }
}

.image-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  height: 1px;
  border: 30px solid gray;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  cursor: pointer;
}

.right-arrow {
  height: 1px;
  border: 30px solid gray;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  cursor: pointer;
}

.photo {
  max-width: 800px;
}
.photo img {
  max-width: 100%;
  height: auto;
}

.member-panel {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  justify-content: center;
}

.member-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-avatar {
  width: 120px;
  height: 120px;
  margin-bottom: 36px;
}
.member-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.member-info .info-form {
  display: flex;
  margin-bottom: 20px;
}
.member-info .info-form p {
  width: 100px;
  padding-top: 8px;
  font-size: 16px;
  letter-spacing: 3px;
  color: rgb(158, 158, 158);
  text-align: center;
}
.member-info .info-form input {
  width: 327px;
  height: 30px;
  font-size: 16px;
  letter-spacing: 5px;
  color: rgb(128, 128, 128);
  border: #fff;
  outline: none;
}

.member-btn {
  order: -1;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.member-btn a {
  color: #fff;
}

.favorite-container {
  width: 70%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.favorite-card {
  width: 150px;
  height: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.favorite-card-image {
  width: 150px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.favorite-card-title {
  color: rgb(26, 216, 211);
}

.fa-trash-can {
  width: 16px;
  cursor: pointer;
}

.btn-primary {
  width: 102px;
  margin-top: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(26, 216, 211);
  color: white;
  border: 1px solid rgb(26, 216, 211);
  border-radius: 5px;
  text-align: center;
}

.correct-btn-group {
  display: flex;
  gap: 20px;
}

.enter-correct,
.cancel-correct {
  display: none;
}

form {
  width: 300px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-list {
  display: none;
}

#post-form {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
  line-height: 32px;
}

label {
  height: 30px;
  margin-left: 20px;
}

input,
select {
  font-size: 18px;
}

textarea {
  resize: none;
  font-size: 20px;
  height: 300px;
}

.grid-3 {
  grid-column: 2/5;
}

.post-submit {
  grid-column: 4/5;
  margin: 0;
  justify-self: end;
}/*# sourceMappingURL=all.css.map */