main {
  /* 因應 header 的 position 而調整 */
  position: relative;
  top: 105px;
}

.slider {
  height: 400px;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.slider:hover h3 {
  opacity: 0.8;
}

.slider h3 {
  width: 250px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(112, 111, 111, 0.609);
  color: white;
  letter-spacing: 10px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: calc(50vw - 100px);
  border-radius: 5px;
}

.class-type {
  height: 75px;
  box-shadow: 0px 5px 5px 0px rgb(230, 227, 230);
}

.class-type ul {
  max-width: 50%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(112, 111, 111, 0.904);
  font-size: 16px;
}

.class-type li {
  cursor: pointer;
}

.class-type li:hover {
  opacity: 0.6;
}

.class-type li.active {
  color: rgb(26, 216, 211);
}

.card-panel {
  max-width: 90%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* 搜尋不到資料時顯示的文字 */
.card-panel .wrong-msg {
  font-size: 24px;
}

.card {
  border: 1px solid rgb(26, 216, 211);
  width: 320px;
  height: 520px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.favorite {
  align-self: flex-end;
  height: 50px;
  margin-right: 25px;
  margin-top: 25px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 5px;
}

.card .location-icon {
  width: 20px;
}

.card .location {
  cursor: pointer;
}

.card .location:hover {
  opacity: 0.6;
}

.card-content {
  width: 250px;
  margin: 0 auto;
}

.img-container {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
}

.card-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.6s ease;
}

.card-img:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

.card-content h4 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(26, 216, 211);
}

.card-content p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: black;
}

.card-content span {
  color: rgb(26, 216, 211);
  padding-right: 10px;
  vertical-align: baseline;
}

.card-text {
  width: 175px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.card-content h4:hover,
.card-content p:hover,
.card-content div:hover {
  opacity: 0.5;
}

.card-arrow {
  width: 12px;
  height: 12px;
  background-image: url(images/arrow-right-one.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-content .read-more:hover {
  transition: margin-right 1s ease;
  opacity: 0.5;
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  .card {
    border: none;
  }
  .card-content {
    border-bottom: 1px solid rgb(26, 216, 211);
    padding-bottom: 75px;
  }
}
