main {
  /* 因應 header 的 position 而調整 */
  position: relative;
  top: 105px;
}

/* 背景圖片共同設定 */
.container,
::before {
  width: 100%;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

/* 背景圖片 */
.first-background {
  background-image: url(images/key-visual.jpg);
}

/* 將降低亮度的濾鏡函式設在偽元素，顯示在背景圖片之前，避免影響其他文字內容 */
/* 加上 z-index，確保其他文字內容不會被擋住  */
.second-background::before {
  position: absolute;
  z-index: -1;
  display: block;
  height: 100%;
  content: '';
  filter: brightness(50%);
  background-attachment: fixed;
  background-image: url(images/second-img.jpg);
}

.third-background::before {
  position: absolute;
  z-index: -1;
  display: block;
  height: 100%;
  content: '';
  filter: brightness(50%);
  background-image: url(images/third-img.jpg);
  /* 製造滾動視差 */
  background-attachment: fixed;
}

.fourth-background {
  background-image: url(images/15.jpg);
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifth-background {
  background-image: url(images/five-img.jpg);
  background-position-y: bottom;
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  /* position: relative;
  z-index: 1; */
}

.content h2 {
  color: white;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 3px;
}

.content h2:hover {
  transform: rotate(-5deg);
}

.content h3 {
  color: white;
  font-size: 24px;
  letter-spacing: 10px;
}

.content h4 {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.content p {
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 9px;
}

.arrow {
  transform: rotate(90deg);
  width: 20px;
  position: absolute;
  left: 50%;
  top: 85%;
  animation-name: arrowMoving; /*動畫名稱(自訂)*/
  animation-duration: 0.3s; /*一次完整動畫時間為?秒*/
  animation-iteration-count: infinite; /*播放次數為無限次*/
  animation-direction: alternate; /*播放方向為先正向再反向*/
}

@keyframes arrowMoving {
  /*動畫名稱arrowMoving*/
  0% {
    top: 84%;
  }
  100% {
    top: 86%;
  }
}

.btn {
  /* 使按鈕背景透明 */
  background-color: transparent;
  color: rgb(26, 216, 211);
  border: 1px solid rgb(26, 216, 211);
  border-radius: 5px;
  font-size: 18px;
  width: 126px;
  padding: 3px 10px;
  margin-top: 36px;
  transition: all 1.2s ease-out;
}

.btn:hover {
  transform: scale(1.2);
  padding: 6px 10px;
}

.btn-class {
  width: 227px;
  margin: 18px;
  padding: 4px 10px;
}

.card {
  background-color: white;
  width: 280px;
  height: 400px;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  position: relative;
}

.card::after {
  content: '';
  border: 15px solid transparent;
  border-left-color: rgb(26, 216, 211);
  border-bottom-color: rgb(26, 216, 211);
  position: absolute;
  right: 0%;
}

.card img {
  width: 40px;
  margin-top: 30px;
}

.card h3 {
  color: rgb(26, 216, 211);
  font-size: 24px;
  margin-top: 25px;
}

.card p {
  line-height: 2;
}

.line {
  border: 1px solid rgb(26, 216, 211);
  width: 50px;
  margin: 20px auto 16px auto;
}

.card .btn {
  /* 使按鈕背景透明 */
  background-color: rgb(26, 216, 211);
  color: white;
  padding: 6px 10px;
  transition: none;
}

.card .btn:hover {
  transform: none;
  color: rgb(212, 246, 245);
}

.about {
  max-width: 620px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  margin-bottom: 4%;
  padding: 0 20px;
}

.about h3 {
  font-size: 24px;
}

.about p {
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
}

.about-line {
  border: 1px solid;
  width: 20px;
  margin: 20px auto 16px auto;
}

/* RWD */

@media screen and (max-width: 768px) {
  .card {
    width: 204px;
    height: 270px;
  }
  .card img {
    width: 27px;
    margin-top: 30px;
  }

  .card h3 {
    color: rgb(26, 216, 211);
    font-size: 14px;
    margin-top: 15px;
  }

  .card p {
    line-height: 1.5;
    font-size: 12px;
  }

  .card .btn {
    font-size: 12px;
    margin-top: 20px;
  }

  .line {
    border: 1px solid rgb(26, 216, 211);
    width: 30px;
    margin: 12px auto 9px auto;
  }
  .fifth-background {
    background-image: none;
  }
  .fifth-background::before {
    position: absolute;
    z-index: -1;
    display: block;
    height: 100%;
    content: '';
    filter: brightness(50%);
    background-image: url(images/five-img.jpg);
    top: 0;
  }
}

@media screen and (max-width: 480px) {
  .fourth-background {
    flex-direction: column;
    gap: 15px;
  }
  .content h2 {
    font-size: 32px;
  }
  .content h3 {
    font-size: 20px;
  }
  .content p {
    font-size: 16px;
  }
}
